@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

:root {
  --primary-color: #0071bc;
  --border-color: #e6e9ed;
}

#timer {
  width: 100%;
  height: 85px;
  background-color: #de9d02;
  position: fixed;
}

.t-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 39px;
}

.t-div {
  display: flex;
  align-items: center;
  gap: 22px;
}

.incon-t-clock {
  width: 50px;
  height: 40px;
  background-color: white;
}

.t-clock {
  font-weight: 700;
  font-size: 41px;
  color: white;
}

.t-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

/* checkout */

#checkout {
  width: 100vw;
  background: #1e1e1e;
  padding: 0 112px;
  padding-top: 140px;
}

.parent {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50px auto 2fr;
  gap: 15px 32px;
  grid-template-areas:
    "div1 div3"
    "div2 div3"
    "div4 div3";
}

.div1 {
  grid-area: div1;
  height: 50px;
  margin: 0 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
}

.div1-text {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: white;
}

.div2 {
  height: fit-content;
  border-radius: 10px;
  margin-bottom: 5px;
  grid-area: div2;
  padding: 25px 0;
  background-color: white;
}

.info-curso {
  display: flex;
  column-gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.div2 .icon-info {
  width: 22px;
  height: 25px;
  background-color: #1e1e1e;
}

.info-description {
  width: 80%;
}

.info-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-color);
}

.info-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.div3 {
  grid-area: div3;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

#main-course {
  display: flex;
  column-gap: 10px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--border-color);
}

.img-course .imagem {
  width: 106.62px;
  height: 106.62px;
}

.course-title {
  font-weight: 700;
  font-size: 20.1221px;
  line-height: 25px;
}

.course-text {
  font-weight: 500;
  font-size: 15.0916px;
  line-height: 18px;
}

.course-price {
  font-weight: 700;
  font-size: 25.1526px;
  line-height: 31px;
  color: var(--primary-color);
}

.column-pagamento {
  display: flex;
  justify-content: space-between;
}

.input-pagamento {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.infos-cartao {
  display: flex;
  gap: 15px;
}

.infos-cartao .field-input {
  width: 96px;
}

.field-input {
  display: flex;
  flex-direction: column;
}

.field-input label {
  margin: 18px 0 14px 0;
}

.field-input input {
  height: 43px;
  border: 1px solid #c9ced4;
  border-radius: 3px;
  padding: 0 12px;
}

.img-cartao {
  width: 284px;
  height: 182px;
  margin-top: 50px;
  border-radius: 10px;
  background: linear-gradient(180deg, #484d54 0%, #6f767f 100%);
}

.tipos-cartoes {
  display: flex;
  justify-content: space-evenly;
}

.tipos-cartoes p {
  margin-top: 15px;
  background-color: black;
  width: 45px;
  height: 45px;
  border: 1px solid black;
}

#options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 22px;
  flex-direction: row;
}

#options label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #707780;
  border: 1px solid #c9ced4;
  width: 177px;
  height: 64px;
  border-radius: 3px;
  margin-top: 0;
  text-align: center;
}

#options input[type="radio"] {
  display: none;
}

.forma-pagamento {
  border: 1px solid #c9ced4;
  padding: 12px;
  border-radius: 3px;
}

.parcelas select {
  height: 43px;
  border: 1px solid #009d43;
  border-radius: 3px;
}

.details-compras {
  font-weight: 500;
  font-size: 16.2452px;
  line-height: 20px;
  color: #707780;
  padding: 25px 0 15px 0;
  border-bottom: 1px solid var(--border-color);
}

.price-final {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.price-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.prive-valor {
  font-weight: 700;
  font-size: 26.3083px;
  line-height: 32px;
  color: var(--primary-color);
}

.c-pointer {
  height: 49px;
  width: 100%;
  background: #318834;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.div4 {
  grid-area: div4;
  background-color: white;
  height: 100%;
  margin: 0 10px;
  border-radius: 10px;
}

.resource-title {
  text-align: center;
  margin-top: 30px;
}

.resource {
  width: 100%;
  padding: 10px 20px;
}

.cr-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--primary-color);
}

.ul-cr-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-color);
}

.li-resource {
  list-style: circle;
  padding: 5px;
}

.aprender {
  text-align: center;
  padding: 25px;
  font-weight: 700;
  font-size: 23px;
  line-height: 24px;
  color: var(--primary-color);
}

.aprendizados {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.item-aprendizados {
  min-width: 300px;
  max-width: 65%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.item-aprendizados span {
  display: flex;
  width: 25px;
  height: 20px;
  background-color: black;
}

.aprendizados p {
  padding: 20px 0;
  font-weight: 400;
  width: 300px;
  font-size: 17px;
  line-height: 17px;
}

#footer {
  overflow: hidden;
  min-height: 95px;
  max-height: auto;
  border: 1px solid #ff7e06;
  border-radius: 10px;
  margin: 20px 10px 25px 10px;
}

#footer .text-left {
  justify-content: center;
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.f-descricao {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: white;
}

.f-title {
  flex-grow: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ff7e06;
}

@media (max-width: 1030px) {
  #checkout {
    padding: 140px 0 0 0;
  }

  .parent {
    grid-template-columns: minmax(330px, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 15px 0;
    grid-template-areas:
      "div1"
      "div2"
      "div3"
      "div4";
  }

  .div2 {
    margin: 0 20px;
    justify-content: center;
  }

  .div3 {
    margin: 0 10px;
  }
}

@media (max-width: 990px) {
  .column-pagamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .infos-cartao {
    justify-content: center;
  }

  .img-cartao {
    display: none;
  }

  .tipos-cartoes {
    gap: 30px;
  }

  .item-aprendizados {
    min-width: 300px;
    max-width: 65%;
    display: flex;
    align-items: center;
  }

  #footer .text-left {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    margin: 20px;
  }
}

@media (max-width: 650px) {
  #options {
    column-gap: 0;
  }

  #options label {
    border-radius: 0;
  }
}

@media (max-width: 490px) {
  .t-container,
  .t-div {
    gap: 12px;
  }

  .t-text {
    font-size: 12px;
  }

  .t-clock {
    font-size: 28px;
  }

  .incon-t-clock {
    width: 32.46px;
    height: 27.17px;
  }

  .div1 {
    width: 300px;
    margin: 0 auto;
  }
}
